.news {
	max-width: 500px;
	width: 100%;

	min-height: 400px;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;

	border: 1px solid #000000;
	border-radius: 10px;

	&__header {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		font-size: 25px;
	}

	&__reload {
		margin-bottom: 15px;

		background: none;
		border: none;

		font-size: 15px;
		text-decoration: underline;

		cursor: pointer;
	}

	&__content {
		margin-top: 30px;
	}

	&__item {
		margin-top: 20px;

		&:first-child {
			margin-top: 0px;
		}

		&-title {
			font-size: 15px;
			color: grey;
		}

		&-content {
			display: flex;
			align-items: center;

			margin-top: 10px;
		}

		&-img {
			width: 50px;
			height: 50px;
		}

		&-text {
			margin-left: 20px;

			font-size: 13px;
		}
	}
}
