doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title D&D.projects
    body
        .wrapper
            .content
                .news
                    .news__header
                        h2.news___title Новости мира и кино
                        button.news__reload Обновить
                    ul.news__content
                        li.news__item
                            h3.news__item-title Новость 1
                            .news__item-сontent
                                img.news__item-img(src=require("../assets/img/preview.jpeg"), alt="аватар")
                                p.news__item-text Реализуйте подобный интерфейс, закешировав статические ресурсы и показывая данный внешний вид до момента загрузки данных.Обратите внимание, даже если у пользователя нет подключения, страница всё равно должна отображаться, но в режиме "загрузки" и после неудачной попытки соединения переходить в режим:


        .footer
